-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "name" TEXT,
    "email" TEXT NOT NULL,
    "password" TEXT,
    "avatar" TEXT DEFAULT '/avatars/default.png',
    "image" TEXT,
    "role" TEXT NOT NULL DEFAULT 'USER',
    "googleId" TEXT,
    "emailVerified" TIMESTAMP(3),
    "suspended" BOOLEAN NOT NULL DEFAULT false,
    "lastLoginAt" TIMESTAMP(3),
    "ownedCharacters" TEXT NOT NULL DEFAULT '[]',
    "ownedSupports" TEXT NOT NULL DEFAULT '[]',
    "jewels" INTEGER NOT NULL DEFAULT 3000,
    "tickets" INTEGER NOT NULL DEFAULT 5,
    "ssrTickets" INTEGER NOT NULL DEFAULT 1,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Account" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "provider" TEXT NOT NULL,
    "providerAccountId" TEXT NOT NULL,
    "refresh_token" TEXT,
    "access_token" TEXT,
    "expires_at" INTEGER,
    "token_type" TEXT,
    "scope" TEXT,
    "id_token" TEXT,
    "session_state" TEXT,

    CONSTRAINT "Account_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Session" (
    "id" TEXT NOT NULL,
    "sessionToken" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Session_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VerificationToken" (
    "identifier" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL
);

-- CreateTable
CREATE TABLE "Character" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "japaneseName" TEXT,
    "alias" TEXT,
    "description" TEXT,
    "birthday" TEXT,
    "height" TEXT,
    "weight" TEXT,
    "cv" TEXT,
    "rarity" INTEGER NOT NULL,
    "growthSpeed" INTEGER NOT NULL DEFAULT 0,
    "growthStamina" INTEGER NOT NULL DEFAULT 0,
    "growthPower" INTEGER NOT NULL DEFAULT 0,
    "growthGuts" INTEGER NOT NULL DEFAULT 0,
    "growthWisdom" INTEGER NOT NULL DEFAULT 0,
    "sprint" TEXT NOT NULL DEFAULT 'G',
    "mile" TEXT NOT NULL DEFAULT 'G',
    "medium" TEXT NOT NULL DEFAULT 'G',
    "long" TEXT NOT NULL DEFAULT 'G',
    "front" TEXT NOT NULL DEFAULT 'G',
    "leader" TEXT NOT NULL DEFAULT 'G',
    "betweener" TEXT NOT NULL DEFAULT 'G',
    "chaser" TEXT NOT NULL DEFAULT 'G',
    "imageThumbnail" TEXT DEFAULT '/characters/default-thumb.png',
    "imageArtwork" TEXT,
    "imageIcon" TEXT,
    "uniqueSkillId" TEXT,
    "events" TEXT,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',

    CONSTRAINT "Character_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SupportCard" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "rarity" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "trainingBonus" INTEGER NOT NULL DEFAULT 0,
    "friendshipBonus" INTEGER NOT NULL DEFAULT 0,
    "raceBonus" INTEGER NOT NULL DEFAULT 0,
    "fanBonus" INTEGER NOT NULL DEFAULT 0,
    "hintLevelBonus" INTEGER NOT NULL DEFAULT 0,
    "initialBond" INTEGER NOT NULL DEFAULT 0,
    "effects" TEXT,
    "events" TEXT,
    "imageThumbnail" TEXT DEFAULT '/supports/default-thumb.png',
    "imageArtwork" TEXT,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',

    CONSTRAINT "SupportCard_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Skill" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "cost" INTEGER NOT NULL DEFAULT 120,
    "tier" TEXT NOT NULL DEFAULT 'B',
    "category" TEXT NOT NULL,
    "trigger" TEXT NOT NULL DEFAULT 'Any',
    "distanceRequirement" TEXT NOT NULL DEFAULT 'Any',
    "styleRequirement" TEXT NOT NULL DEFAULT 'Any',
    "iconUrl" TEXT,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',

    CONSTRAINT "Skill_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Race" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "distance" INTEGER NOT NULL,
    "groundType" TEXT NOT NULL,
    "season" TEXT NOT NULL,
    "grade" TEXT NOT NULL,
    "fanRequirement" INTEGER NOT NULL DEFAULT 0,
    "direction" TEXT NOT NULL DEFAULT 'Clockwise',
    "weather" TEXT DEFAULT 'Sunny',
    "surface" TEXT DEFAULT 'Good',
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',

    CONSTRAINT "Race_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Scenario" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "releaseDate" TEXT,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',

    CONSTRAINT "Scenario_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Tag" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',

    CONSTRAINT "Tag_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Category" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',

    CONSTRAINT "Category_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CharacterDraft" (
    "id" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'DRAFT',
    "reviewNotes" TEXT,
    "contributorId" TEXT NOT NULL,
    "liveId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "name" TEXT NOT NULL,
    "japaneseName" TEXT,
    "alias" TEXT,
    "description" TEXT,
    "birthday" TEXT,
    "height" TEXT,
    "weight" TEXT,
    "cv" TEXT,
    "rarity" INTEGER NOT NULL,
    "growthSpeed" INTEGER NOT NULL DEFAULT 0,
    "growthStamina" INTEGER NOT NULL DEFAULT 0,
    "growthPower" INTEGER NOT NULL DEFAULT 0,
    "growthGuts" INTEGER NOT NULL DEFAULT 0,
    "growthWisdom" INTEGER NOT NULL DEFAULT 0,
    "sprint" TEXT NOT NULL DEFAULT 'G',
    "mile" TEXT NOT NULL DEFAULT 'G',
    "medium" TEXT NOT NULL DEFAULT 'G',
    "long" TEXT NOT NULL DEFAULT 'G',
    "front" TEXT NOT NULL DEFAULT 'G',
    "leader" TEXT NOT NULL DEFAULT 'G',
    "betweener" TEXT NOT NULL DEFAULT 'G',
    "chaser" TEXT NOT NULL DEFAULT 'G',
    "imageThumbnail" TEXT,
    "imageArtwork" TEXT,
    "imageIcon" TEXT,
    "events" TEXT,

    CONSTRAINT "CharacterDraft_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SupportCardDraft" (
    "id" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'DRAFT',
    "reviewNotes" TEXT,
    "contributorId" TEXT NOT NULL,
    "liveId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "rarity" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "trainingBonus" INTEGER NOT NULL DEFAULT 0,
    "friendshipBonus" INTEGER NOT NULL DEFAULT 0,
    "raceBonus" INTEGER NOT NULL DEFAULT 0,
    "fanBonus" INTEGER NOT NULL DEFAULT 0,
    "hintLevelBonus" INTEGER NOT NULL DEFAULT 0,
    "initialBond" INTEGER NOT NULL DEFAULT 0,
    "effects" TEXT,
    "events" TEXT,
    "imageThumbnail" TEXT,
    "imageArtwork" TEXT,

    CONSTRAINT "SupportCardDraft_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SkillDraft" (
    "id" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'DRAFT',
    "reviewNotes" TEXT,
    "contributorId" TEXT NOT NULL,
    "liveId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "cost" INTEGER NOT NULL DEFAULT 120,
    "tier" TEXT NOT NULL DEFAULT 'B',
    "category" TEXT NOT NULL,
    "trigger" TEXT NOT NULL DEFAULT 'Any',
    "distanceRequirement" TEXT NOT NULL DEFAULT 'Any',
    "styleRequirement" TEXT NOT NULL DEFAULT 'Any',

    CONSTRAINT "SkillDraft_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RaceDraft" (
    "id" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'DRAFT',
    "reviewNotes" TEXT,
    "contributorId" TEXT NOT NULL,
    "liveId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "name" TEXT NOT NULL,
    "distance" INTEGER NOT NULL,
    "groundType" TEXT NOT NULL,
    "season" TEXT NOT NULL,
    "grade" TEXT NOT NULL,
    "fanRequirement" INTEGER NOT NULL DEFAULT 0,
    "direction" TEXT NOT NULL DEFAULT 'Clockwise',

    CONSTRAINT "RaceDraft_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ScenarioDraft" (
    "id" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'DRAFT',
    "reviewNotes" TEXT,
    "contributorId" TEXT NOT NULL,
    "liveId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "releaseDate" TEXT,

    CONSTRAINT "ScenarioDraft_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TagDraft" (
    "id" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'DRAFT',
    "reviewNotes" TEXT,
    "contributorId" TEXT NOT NULL,
    "liveId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "name" TEXT NOT NULL,

    CONSTRAINT "TagDraft_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CategoryDraft" (
    "id" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'DRAFT',
    "reviewNotes" TEXT,
    "contributorId" TEXT NOT NULL,
    "liveId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "name" TEXT NOT NULL,

    CONSTRAINT "CategoryDraft_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AuditLog" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "entity" TEXT NOT NULL,
    "entityId" TEXT NOT NULL,
    "before" TEXT,
    "after" TEXT,
    "ipAddress" TEXT,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AuditLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VersionHistory" (
    "id" TEXT NOT NULL,
    "entityType" TEXT NOT NULL,
    "entityId" TEXT NOT NULL,
    "version" INTEGER NOT NULL,
    "snapshot" TEXT NOT NULL,
    "comment" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "charId" TEXT,
    "cardId" TEXT,
    "skillId" TEXT,
    "raceId" TEXT,
    "scenarioId" TEXT,
    "tagId" TEXT,
    "categoryId" TEXT,
    "eventId" TEXT,
    "bannerId" TEXT,

    CONSTRAINT "VersionHistory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CommunityGuide" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "likes" INTEGER NOT NULL DEFAULT 0,
    "bookmarks" INTEGER NOT NULL DEFAULT 0,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CommunityGuide_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TrainingSession" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "characterId" TEXT NOT NULL,
    "scenario" TEXT NOT NULL,
    "currentTurn" INTEGER NOT NULL,
    "motivation" TEXT NOT NULL,
    "energy" INTEGER NOT NULL,
    "speed" INTEGER NOT NULL DEFAULT 120,
    "stamina" INTEGER NOT NULL DEFAULT 120,
    "power" INTEGER NOT NULL DEFAULT 120,
    "guts" INTEGER NOT NULL DEFAULT 120,
    "wisdom" INTEGER NOT NULL DEFAULT 120,
    "status" TEXT NOT NULL DEFAULT 'IN_PROGRESS',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "TrainingSession_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SavedBuild" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "characterId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "distance" TEXT NOT NULL,
    "style" TEXT NOT NULL,
    "targetSpeed" INTEGER NOT NULL,
    "targetStam" INTEGER NOT NULL,
    "targetPower" INTEGER NOT NULL,
    "targetGuts" INTEGER NOT NULL,
    "targetWisdom" INTEGER NOT NULL DEFAULT 120,
    "skills" TEXT NOT NULL,
    "likes" INTEGER NOT NULL DEFAULT 0,
    "isPublic" BOOLEAN NOT NULL DEFAULT false,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "SavedBuild_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Event" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "eventType" TEXT NOT NULL,
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3) NOT NULL,
    "description" TEXT,
    "eventStatus" TEXT NOT NULL DEFAULT 'ACTIVE',
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "distance" INTEGER,
    "groundType" TEXT,
    "weather" TEXT,
    "trackCondition" TEXT,
    "direction" TEXT,
    "location" TEXT,
    "season" TEXT,

    CONSTRAINT "Event_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EventDraft" (
    "id" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'DRAFT',
    "reviewNotes" TEXT,
    "contributorId" TEXT NOT NULL,
    "liveId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "name" TEXT NOT NULL,
    "eventType" TEXT NOT NULL,
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3) NOT NULL,
    "description" TEXT,
    "distance" INTEGER,
    "groundType" TEXT,
    "weather" TEXT,
    "trackCondition" TEXT,
    "direction" TEXT,
    "location" TEXT,
    "season" TEXT,

    CONSTRAINT "EventDraft_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EventMetaBuild" (
    "id" TEXT NOT NULL,
    "eventId" TEXT NOT NULL,
    "characterId" TEXT NOT NULL,
    "buildStats" TEXT NOT NULL,
    "skillPriority" TEXT NOT NULL,
    "supportDeck" TEXT NOT NULL,
    "rating" TEXT NOT NULL DEFAULT 'A',
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',

    CONSTRAINT "EventMetaBuild_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EventMetaBuildDraft" (
    "id" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'DRAFT',
    "reviewNotes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "eventId" TEXT NOT NULL,
    "characterId" TEXT NOT NULL,
    "buildStats" TEXT NOT NULL,
    "skillPriority" TEXT NOT NULL,
    "supportDeck" TEXT NOT NULL,
    "rating" TEXT NOT NULL DEFAULT 'A',

    CONSTRAINT "EventMetaBuildDraft_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Banner" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "bannerType" TEXT NOT NULL,
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3) NOT NULL,
    "featuredContent" TEXT,
    "rateUpContent" TEXT,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',

    CONSTRAINT "Banner_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BannerDraft" (
    "id" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'DRAFT',
    "reviewNotes" TEXT,
    "contributorId" TEXT NOT NULL,
    "liveId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "name" TEXT NOT NULL,
    "bannerType" TEXT NOT NULL,
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3) NOT NULL,
    "featuredContent" TEXT,
    "rateUpContent" TEXT,

    CONSTRAINT "BannerDraft_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EventSubscription" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "subscriptionType" TEXT NOT NULL,
    "eventId" TEXT,
    "remindBefore" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "EventSubscription_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "_CharSkills" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL,

    CONSTRAINT "_CharSkills_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateTable
CREATE TABLE "_CardSkills" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL,

    CONSTRAINT "_CardSkills_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "User_googleId_key" ON "User"("googleId");

-- CreateIndex
CREATE UNIQUE INDEX "Account_provider_providerAccountId_key" ON "Account"("provider", "providerAccountId");

-- CreateIndex
CREATE UNIQUE INDEX "Session_sessionToken_key" ON "Session"("sessionToken");

-- CreateIndex
CREATE UNIQUE INDEX "VerificationToken_token_key" ON "VerificationToken"("token");

-- CreateIndex
CREATE UNIQUE INDEX "VerificationToken_identifier_token_key" ON "VerificationToken"("identifier", "token");

-- CreateIndex
CREATE INDEX "_CharSkills_B_index" ON "_CharSkills"("B");

-- CreateIndex
CREATE INDEX "_CardSkills_B_index" ON "_CardSkills"("B");

-- AddForeignKey
ALTER TABLE "Account" ADD CONSTRAINT "Account_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Session" ADD CONSTRAINT "Session_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Character" ADD CONSTRAINT "Character_uniqueSkillId_fkey" FOREIGN KEY ("uniqueSkillId") REFERENCES "Skill"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CharacterDraft" ADD CONSTRAINT "CharacterDraft_contributorId_fkey" FOREIGN KEY ("contributorId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupportCardDraft" ADD CONSTRAINT "SupportCardDraft_contributorId_fkey" FOREIGN KEY ("contributorId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SkillDraft" ADD CONSTRAINT "SkillDraft_contributorId_fkey" FOREIGN KEY ("contributorId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RaceDraft" ADD CONSTRAINT "RaceDraft_contributorId_fkey" FOREIGN KEY ("contributorId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScenarioDraft" ADD CONSTRAINT "ScenarioDraft_contributorId_fkey" FOREIGN KEY ("contributorId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TagDraft" ADD CONSTRAINT "TagDraft_contributorId_fkey" FOREIGN KEY ("contributorId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CategoryDraft" ADD CONSTRAINT "CategoryDraft_contributorId_fkey" FOREIGN KEY ("contributorId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AuditLog" ADD CONSTRAINT "AuditLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VersionHistory" ADD CONSTRAINT "VersionHistory_charId_fkey" FOREIGN KEY ("charId") REFERENCES "Character"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VersionHistory" ADD CONSTRAINT "VersionHistory_cardId_fkey" FOREIGN KEY ("cardId") REFERENCES "SupportCard"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VersionHistory" ADD CONSTRAINT "VersionHistory_skillId_fkey" FOREIGN KEY ("skillId") REFERENCES "Skill"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VersionHistory" ADD CONSTRAINT "VersionHistory_raceId_fkey" FOREIGN KEY ("raceId") REFERENCES "Race"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VersionHistory" ADD CONSTRAINT "VersionHistory_scenarioId_fkey" FOREIGN KEY ("scenarioId") REFERENCES "Scenario"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VersionHistory" ADD CONSTRAINT "VersionHistory_tagId_fkey" FOREIGN KEY ("tagId") REFERENCES "Tag"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VersionHistory" ADD CONSTRAINT "VersionHistory_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES "Category"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VersionHistory" ADD CONSTRAINT "VersionHistory_eventId_fkey" FOREIGN KEY ("eventId") REFERENCES "Event"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VersionHistory" ADD CONSTRAINT "VersionHistory_bannerId_fkey" FOREIGN KEY ("bannerId") REFERENCES "Banner"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CommunityGuide" ADD CONSTRAINT "CommunityGuide_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TrainingSession" ADD CONSTRAINT "TrainingSession_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TrainingSession" ADD CONSTRAINT "TrainingSession_characterId_fkey" FOREIGN KEY ("characterId") REFERENCES "Character"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SavedBuild" ADD CONSTRAINT "SavedBuild_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SavedBuild" ADD CONSTRAINT "SavedBuild_characterId_fkey" FOREIGN KEY ("characterId") REFERENCES "Character"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EventDraft" ADD CONSTRAINT "EventDraft_contributorId_fkey" FOREIGN KEY ("contributorId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BannerDraft" ADD CONSTRAINT "BannerDraft_contributorId_fkey" FOREIGN KEY ("contributorId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_CharSkills" ADD CONSTRAINT "_CharSkills_A_fkey" FOREIGN KEY ("A") REFERENCES "Character"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_CharSkills" ADD CONSTRAINT "_CharSkills_B_fkey" FOREIGN KEY ("B") REFERENCES "Skill"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_CardSkills" ADD CONSTRAINT "_CardSkills_A_fkey" FOREIGN KEY ("A") REFERENCES "Skill"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_CardSkills" ADD CONSTRAINT "_CardSkills_B_fkey" FOREIGN KEY ("B") REFERENCES "SupportCard"("id") ON DELETE CASCADE ON UPDATE CASCADE;

